<section class="section_asked">
    <h2 class="title_asked">
        Frequently asked questions
    </h2 >

    <ul class="list_asked">

        <li class="item_asked">
            <div class="item_container">
                <p class="title_text_asked">How do I change my details?</p>
                <div class="icons">
                    <svg class="svg_plus">
                        <use href="#plus"></use>
                    </svg>
                    <svg class="icon-x">
                        <use href="#icon-x"></use>
                    </svg>
                </div>
            </div>
        
            <div class="item_text_asked">
                <p>We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform
                for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools
                are already collected in one place and are available in a couple of clicks. Use only the best and develop with us!</p>
            </div>
        </li>


        <li class="item_asked">
            <div class="item_container">
                <p class="title_text_asked">What platforms will I be able to use?</p>
                <div class="icons">
                    <svg class="svg_plus">
                        <use href="#plus"></use>
                    </svg>
                    <svg class="icon-x">
                        <use href="#icon-x"></use>
                    </svg>
                </div>
            </div>
        
            <div class="item_text_asked">
                <p>We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform
                for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools
                are already collected in one place and are available in a couple of clicks. Use only the best and develop with us!</p>
            </div>
        </li>

        <li class="item_asked">
            <div class="item_container">
                <p class="title_text_asked">How do I change my details?</p>
                <div class="icons">
                    <svg class="svg_plus">
                        <use href="#plus"></use>
                    </svg>
                    <svg class="icon-x">
                        <use href="#icon-x"></use>
                    </svg>
                </div>
            </div>
        
            <div class="item_text_asked">
                <p>We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform
                for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools
                are already collected in one place and are available in a couple of clicks. Use only the best and develop with us!</p>
            </div>
        </li>

        <li class="item_asked">
            <div class="item_container">
                <p class="title_text_asked">How do I change my details?</p>
                <div class="icons">
                    <svg class="svg_plus">
                        <use href="#plus"></use>
                    </svg>
                    <svg class="icon-x">
                        <use href="#icon-x"></use>
                    </svg>
                </div>
            </div>
        
            <div class="item_text_asked">
                <p>We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform
                for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools
                are already collected in one place and are available in a couple of clicks. Use only the best and develop with us!</p>
            </div>
        </li>

        <li class="item_asked">
            <div class="item_container">
                <p class="title_text_asked">How do I change my details?</p>
                <div class="icons">
                    <svg class="svg_plus">
                        <use href="#plus"></use>
                    </svg>
                    <svg class="icon-x">
                        <use href="#icon-x"></use>
                    </svg>
                </div>
            </div>
        
            <div class="item_text_asked">
                <p>We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform
                for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools
                are already collected in one place and are available in a couple of clicks. Use only the best and develop with us!</p>
            </div>
        </li>


        <li class="item_asked">
            <div class="item_container">
                <p class="title_text_asked">How do I change my details?</p>
                <div class="icons">
                    <svg class="svg_plus">
                        <use href="#plus"></use>
                    </svg>
                    <svg class="icon-x">
                        <use href="#icon-x"></use>
                    </svg>
                </div>
            </div>
        
            <div class="item_text_asked">
                <p>We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform
                for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools
                are already collected in one place and are available in a couple of clicks. Use only the best and develop with us!</p>
            </div>
        </li>

        <li class="item_asked">
            <div class="item_container">
                <p class="title_text_asked">How do I change my details?</p>
                <div class="icons">
                    <svg class="svg_plus">
                        <use href="#plus"></use>
                    </svg>
                    <svg class="icon-x">
                        <use href="#icon-x"></use>
                    </svg>
                </div>
            </div>

            <div class="item_text_asked">
                <p>We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient
                    platform
                    for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary
                    trading tools
                    are already collected in one place and are available in a couple of clicks. Use only the best and develop with
                    us!</p>
            </div>
            </li>

    </ul>

    <svg style="display: none;">
  <symbol id="plus" viewBox="0 0 32 32">
    <path d="M16 7c0.265 0 0.52 0.105 0.707 0.293s0.293 0.442 0.293 0.707v8c0 0.265-0.105 0.52-0.293 0.707s-0.442 0.293-0.707 0.293h-8c-0.265 0-0.52-0.105-0.707-0.293s-0.293-0.442-0.293-0.707c0-0.265 0.105-0.52 0.293-0.707s0.442-0.293 0.707-0.293h7v-7c0-0.265 0.105-0.52 0.293-0.707s0.442-0.293 0.707-0.293z"/>
    <path d="M15 16c0-0.265 0.105-0.52 0.293-0.707s0.442-0.293 0.707-0.293h8c0.265 0 0.52 0.105 0.707 0.293s0.293 0.442 0.293 0.707c0 0.265-0.105 0.52-0.293 0.707s-0.442 0.293-0.707 0.293h-7v7c0 0.265-0.105 0.52-0.293 0.707s-0.442 0.293-0.707 0.293c-0.265 0-0.52-0.105-0.707-0.293s-0.293-0.442-0.293-0.707v-8z"/>
  </symbol>

  <symbol id="icon-x" viewBox="0 0 32 32">
    <path d="M22.364 9.636c0.188 0.188 0.293 0.442 0.293 0.707s-0.105 0.52-0.293 0.707l-5.657 5.657c-0.188 0.188-0.442 0.293-0.707 0.293s-0.52-0.105-0.707-0.293l-5.657-5.657c-0.188-0.188-0.293-0.442-0.293-0.707s0.105-0.52 0.293-0.707 0.442-0.293 0.707-0.293c0.265 0 0.52 0.105 0.707 0.293l4.95 4.95 4.95-4.95c0.188-0.188 0.442-0.293 0.707-0.293s0.52 0.105 0.707 0.293z"/>
    <path d="M15.293 15.293c0.188-0.188 0.442-0.293 0.707-0.293s0.52 0.105 0.707 0.293l5.657 5.657c0.188 0.188 0.293 0.442 0.293 0.707s-0.105 0.52-0.293 0.707c-0.188 0.188-0.442 0.293-0.707 0.293s-0.52-0.105-0.707-0.293l-4.95-4.95-4.95 4.95c-0.188 0.188-0.442 0.293-0.707 0.293s-0.52-0.105-0.707-0.293-0.293-0.442-0.293-0.707c0-0.265 0.105-0.52 0.293-0.707l5.657-5.657z"/>
  </symbol>
</svg>
</section>