<section class="section_comment">
    <div>
       <h2 class="title_com">People love Big Invest</h2>  
    </div>
   
       <div>
       <div class="container_man">
         <picture>
            <source media="(min-width:1440px )" srcset="./img/Ellipse1_mob.png 1x, ./img/Ellipse2_mob.png 2x" />
            <source media="(min-width:768px)" srcset="./img/Ellipse1_mob.png 1x, ./img/Ellipse2_mob.png 2x" />
            <source media="(min-width:375px )" srcset=" ./img/Ellipse1_mob.png 1x, ./img/Ellipse2_mob.png 2x" />
            <img class="img_director" src="./img/Ellipse1_mob.png" alt="director" />
         </picture>
         <div >
            <h4 class="name">Albert Abello</h4>
            <p class="position">Director of Growth</p>            
         </div>

       </div>
       <div class="container_text">
          <img class="stroke" src="./img/stroke.png" alt="director" />
 
          <p class="text_com">
           This magical product actually works! It has radically changed the way we build our audiences. Increasing new customer
           sales by 6x in our most mature market.
          </p>          
       </div> 

       <div class="arrow-buttons">
          <!-- Левая стрелка -->
            <button class="circle-button">
               <svg class="arrow-icon" viewBox="0 0 24 24" fill="none">
               <path d="M15 6L9 12L15 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
               </svg>
            </button>

            <p class="calendar">01/04</p>

           <!-- Правая стрелка -->
           <button class="circle-button">
             <svg class="arrow-icon" viewBox="0 0 24 24" fill="none">
             <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
             </svg>
           </button>
         </div>

       </div>

 
    </div>

   

</section>