<section class="section_comment">
    <h2 class="title_com">People love Big Invest</h2>

    <picture>
        <!-- <source media="(min-width:1440px )" srcset="./img/diagram1_desctop.png 1x, ./img/diagram2_desctop.png 2x" />
        <source media="(min-width:768px)" srcset="./img/diagrama1_table.png 1x, ./img/diagrama2_table.png 2x" /> -->
        <source media="(min-width:375px )" srcset=" ./img/Ellipse1_mob.png 1x, ./img/Ellipse2_mob.png 2x" />
        <img class="img_director" src="./img/Ellipse1_mob.png" alt="director" />
    </picture>

    <h4 class="name">Albert Abello</h4>
    <p class="position">Director of Growth</p>
    <!-- <svg class="svg_coma">
        <use href="./img/sprite.svg#icon"></use>
    </svg> -->

    <img class="stroke" src="./img/stroke.png" alt="director" />

    <p class="text_com">
        This magical product actually works! It has radically changed the way we build our audiences. Increasing new customer
        sales by 6x in our most mature market.
    </p>

</section>