<section class="section_contact">

    <div class="width_container">
    <div class="container_contact">
    <div>
        <h2 class="title_contact">
            Contact us!
        </h2>

        <p class="text_contact">
            The support staff and customer service are available to help you with any questions or needs you might have. Just drop
            us a line.
        </p>

        <p class="text_contact_comment">
            This site is owned and operated by Kode Tech Solutions LTD
        </p>
        <ul class="list_contact">
            <li>
                <h5 class="title_adress">Phone:</h5>
                <p class="text_adress">442038857261</p>
            </li>
            <li>
                <h5 class="title_adress">Email:</h5>
                <p class="text_adress">help@google.com</p>
            </li>
            <li>
                <h5 class="title_adress">Address:</h5>
                <p class="text_adress">Trust Company Complex, Ajeltake Road, Ajeltake Island, Majuro, Republic of the Marshall Islands, MH 96960</p>
            </li>
        </ul>
    </div>
        
<form class="form_adress" novalidate>
    <input type="text" name="Name" placeholder="Name" required class="input" autocomplete="name" />

    <div style="position: relative;">
        <input type="email" name="Email" placeholder="Email" required class="input" autocomplete="email" />
        <div class="error-message">Incorrect email type</div>
    </div>

    <textarea name="message" placeholder="Message" rows="5" required class="textarea" autocomplete="off"></textarea>

    <button class="btn_contact" type="submit">SEND</button>
</form>        
    </div>        
    </div>

</section>