<section class="section_footer">
    <div class="section_footer_container">
      <p class="logo_footer">
        LOGO
      </p>

      <div class="container_info_posinion">
         <ul class="nav_container item_position">
            <li class="nav_footer_text">
              <a href="">About us</a>
            </li>
            <li class="nav_footer_text">
               <a href="">Instructions</a>
            </li>
            <li class="nav_footer_text">
               <a href="">Platforms</a>
            </li >
            <li class="nav_footer_text">
               <a href="">Contact Us</a>
            </li>
            <li class="nav_footer_text">
               <a href="">Sign in</a>
            </li>
            <li class="nav_footer_text">
              <a href="">Sign up for free</a>
            </li>
    
         </ul>

        <div class="container_info_footer cooperator_container item_position">
            <div>
              <h4 class="title_footer">
               Information and high risk warning:
              </h4>
              <p class="text_footer">
               Trading with foreign exchange (FX), contract for differences (CFDs) and precious metals carries a high level of risk
               that may not be suitable for all investors. Leverage creates additional risk and loss exposure. Before you decide to
               trade foreign exchange or contract for differences, carefully consider your investment objectives, experience level, and
               risk tolerance.
              </p>                
            </div>

            <div>
               <h4 class="title_footer">
                Legal disclaimer:
                </h4>
              <p class="text_footer">
                Forex trading entails significant risks and is not appropriate for all investors. The possibility of incurring
                substantial losses should be taken into account. It is therefore important to understand the possible consequences of
                investing. Traders should weigh their earning potential against the risks involved and act accordingly. Interactive
                Trade Ltd operating under brand and using domenLink domain within the European Economic Area.
              </p>     
            </div>
              
        </div>  

      </div>

      
    </div>
    

      <ul class="list_cooperator cooperator_container">
        <li class="text_cooperator">Copyright 2020, All Right Reserved</li>
        <li class="text_cooperator">Terms and Conditions</li>
        <li class="text_cooperator">Privacy Policy</li>
        <li class="text_cooperator">Risk Warnings</li>
        <li class="text_cooperator">Anti-Money Laundering</li>
      </ul>    

</section>