<section class="section_container">
    <h2 class="title_get">
        Getting Started Is Fast & Easy
    </h2>
    <ul>
        <li class="item">
            <p class="number">01.</p>
            <h3 class="title_item">Register</h3>
            <p class="text_item">
                Complete the simple registration to get your trading credentials.
            </p>
        </li>

        <li class="item">
            <p class="number">02.</p>
            <h3 class="title_item">Verification</h3>
            <p class="text_item">
                Big Invest is required to verify your identity, upload your documents quickly and get approved in minutes.
            </p>
        </li>

        <li class="item">
            <p class="number">03.</p>
            <h3 class="title_item">Deposit funds</h3>
            <p class="text_item">
                Big Invest accepts credit cards and bank wires. Just use the secure deposit form and follow the steps.
            </p>
        </li>

        <li class="item">
            <p class="number">04.</p>
            <h3 class="title_item">Start Trading</h3>
            <p class="text_item">
                Once your deposit has been credited, you can begin trading instantly. In no time you will see profits rolling into your
                account.
            </p>
        </li>
    </ul>
</section>