<header class="header">
  <div class="container_nav">
  <p class="logo">
    LOGO
  </p>

  <ul class="nav">
    <li>
      <a href="">How it works</a>
    </li>
    <li>
      <a href="">About</a>
    </li>
    <li>
      <a href="">Instructions</a>
    </li>
    <li>
      <a href="">Accounts</a>
    </li>
    <li>
      <a href="">Platforms</a>
    </li>
    <li>
      <a href="">Contact</a>
    </li>

  </ul>    
  </div>

  <div class="container_button">

      <select id="lang" name="language" class="list">
       <option value="en">EN</option>
       <option value="ua">UA</option>
       <option value="de">DE</option>
       <option value="fr">FR</option>
      </select>  
      
      <button type="button" class="button">SIGN IN FOR FREE</button>   
  </div>
   
   


  <svg class="svg">
    <use href="./img/sprite.svg#icon-eva_menu-fill"></use>
  </svg>
  
</header>

