<!-- hero -->
<section class="section">
  <h1 class="title">Trade everywhere. Invest here!</h1>
  <p class="text">
    We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform
    for access to global exchanges. You can work anywhere.
  </p>

  <button type="button" class="btn">START TRADING</button>

  <picture>
    <!-- <source srcset="./img/carrot-desc.png 1x, ./img/carrot-desc-x2.png 2x" media="(min-width: 1440px)" />
    <source srcset="./img/carrot-tab.png 1x, ./img/carrot-tab-x2.png 2x" media="(min-width: 768px)" /> -->
    <source srcset="./img/diagram1_mobile.png 1x,
                    ./img/diagram2_mobile.png 2x"
                    media="(min-width: 375px)" />
    <img class="img" src="../img/diagram1_mobile.png" alt="diagram" width="280" height="301" />
  </picture>

 
</section>
