<!-- hero -->
<section class="section">
  <div class="container_info">
      <h1 class="title">Trade everywhere. Invest here!</h1>
      <p class="text">
    We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform
    for access to global exchanges. You can work anywhere.
      </p>

      <button type="button" class="btn">START TRADING</button>
  </div>

  <picture>
    <source media="(min-width:1440px )" srcset="./img/diagram1_desctop.png 1x, ./img/diagram2_desctop.png 2x" />
    <source media="(min-width:768px)" srcset="./img/diagrama1_table.png 1x, ./img/diagrama2_table.png 2x" />
    <source media="(min-width:375px )" srcset="./img/diagram1_mobile.png 1x, ./img/diagram2_mobile.png 2x" />
    <img class="img" src="./img/diagram1_mobile.png" alt="girl" />
  </picture>



 
</section>
