.section_footer{
  padding: 0 20px 32px 20px;
}

.logo_footer {
    padding-top: 32px;
    padding-bottom: 16px;
    font-family: Museo Sans Cyrl;
    font-weight: 900;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0;
    text-align: center;

    color: #333333;
}

.nav_footer_text{
    margin-bottom: 32px;
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0;
        
    color: #333333;
    cursor: pointer;
}

.title_footer{
    margin-bottom: 16px;
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0;
        
    color: #333333;
}

.text_footer{
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0;
        
    color: #4F4F4F;
}

.list_cooperator{
    margin-top: 8px;
}

.text_cooperator{
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0;
    text-align: center;
    
    color: #828282;
}

.item_position{
    order: 0;
}

@media screen and (min-width: 768px) {
    .section_footer {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 40px 60px 40px;
        }

    .logo_footer{
        padding-top: 62px;
        padding-bottom: 54px;
    }

    .nav_container{
        display: flex;
        justify-content: space-between;
    }

    .nav_footer_text {
        margin-bottom: 40px;
        }

    .cooperator_container{
        padding: 0 90px 0 90px;
    }

    .title_footer{
        text-align: center;
    }

    .text_footer{
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .section_footer {
        padding: 0 120px 60px 120px;
            }

    .section_footer_container{
        padding-top: 32px;
        display: flex;
        gap: 160px;
    }

    .logo_footer {
        padding-top: 0;
        padding-bottom: 0;
    }

    .footer_container_desctop{
        display: flex;
    }

    .container_info_posinion{
        display: flex;
        gap: 96px;
    }

    .list_cooperator{
        display: flex;
        justify-content: space-between;
    }

    .cooperator_container{
        padding: 0;
    }

    .container_info_footer{
        display: flex;
        gap: 30px;
    }

    .item_position:nth-child(1){
        order: 2;
    }

    .item_position:nth-child(2){
        order: 1;
    }

    .nav_container {
        display: block;
        }

    .nav_footer_text {
        margin-bottom: 24px;
        }
    .list_cooperator {
        margin-top: 50px;
        }
}