.section_footer{
  margin-top: 48px;
  padding: 0 20px 0 20px;
}

.logo_footer {
    padding-top: 32px;
    padding-bottom: 16px;
    font-family: Museo Sans Cyrl;
    font-weight: 900;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0;
    text-align: center;

    color: #333333;
}

.nav_footer_text{
    margin-bottom: 32px;
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0;
        
    color: #333333;
    cursor: pointer;
}

.title_footer{
    margin-bottom: 16px;
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0;
        
    color: #333333;
}

.text_footer{
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0;
        
    color: #4F4F4F;
}

.list_cooperator{
    margin-top: 8px;
}

.text_cooperator{
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0;
    text-align: center;
    
    color: #828282;
}