.section {
  padding:32px 20px 16px 20px;
  background-color:rgba(79, 98, 246, 0.1)
}

.title{
  font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0;
    color: #333333;
}

.text{
  margin-top: 24px;
   
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0;

  color: #4F4F4F;
}

.btn{
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  width: 280px;
  height: 54px;

  text-align: center;
  background-color: #4F62F6;
  color: #FFFFFF;
  border-radius: 60px;
  border-color: transparent;

  font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.88;
    letter-spacing: 0.03em;
}

.img{
  margin: 0 auto;
  margin-top: 24px;
}








/* Media */
@media screen and (min-width: 375px) {
  
}
@media screen and (min-width: 768px) {
 
}
